{% load static %} {% for foo in posts %}

<div>
  <p>Author: <a href="/profile/{{foo.author.id}}/">{{foo.author}}</a></p>
  <a href="/post/{{foo.id}}/">
    <img src="{% static foo.image %}" class="card-img" alt="Post Image" />
  </a>
  <h5>title: {{foo.title}}</h5>
  <p>description: {{foo.description}}</p>
  <p>likes: {{foo.likes}}</p>
  <p>dislikes: {{foo.dislikes}}</p>
  <p>post-date:{{foo.post_date}}</p>
  {% if request.user == foo.author %}
  <a href="/post/{{foo.id}}/delete/">Delete Post</a>
  {% endif %}
</div>
<hr />
{% endfor %}
