<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    {% load static %}
    <title>Picture Perfect</title>
  </head>
  <body>
    <div class="container">
      {% include 'nav.html' %}
      <h1 class="text-center">Sign Up</h1>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="fieldWrapper form-group">
          {{ form.first_name.errors }}
          <label for="first_name">First name</label>
          <input
            type="text"
            name="first_name"
            maxlength="150"
            id="first_name"
            class="form-control"
            placeholder="First Name"
          />
        </div>
        <div class="fieldWrapper form-group">
          {{ form.last_name.errors }}
          <label for="last_name">Last name</label>
          <input
            type="text"
            name="last_name"
            maxlength="150"
            id="last_name"
            class="form-control"
            placeholder="Last Name"
          />
        </div>
        <div class="fieldWrapper form-group">
          {{ form.username.errors }}
          <label for="username">Username</label>
          <input
            required
            type="text"
            name="username"
            maxlength="30"
            id="username"
            class="form-control"
            placeholder="Username"
          />
        </div>
        <div class="fieldWrapper form-group">
          {{ form.password.errors }}
          <label for="password">Password</label>
          <input
            required
            type="password"
            name="password"
            maxlength="128"
            id="password"
            class="form-control"
            placeholder="Password"
          />
        </div>
        <div class="fieldWrapper form-group">
          {{ form.avatar_image.errors }}
          <label for="avatar_image">Avatar image</label>
          <input
            type="file"
            name="avatar_image"
            accept="image/*"
            id="avatar_image"
            class="form-control"
          />
        </div>
        <div class="d-grid">
          <input
            type="submit"
            value="Sign Up"
            class="btn btn-primary btn-lg my-2"
          />
        </div>
      </form>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
