<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    {% load static %}
    <title>Picture Perfect</title>
  </head>
  <body>
    <div class="container">
      {% include 'nav.html' %}
      <div class="justify-center">P</div>  
      <h1 class="box">Picture Perfect</h1>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="fieldWrapper form-group">
          {{ form.first_name.errors }}



<h1>{{header}}</h1>

<p>Welcome to Picture Perfect. </p>

<P>These Terms of Use (or "Terms") govern your use of Picture Perfect, except where we expressly state that separate terms (and not these) apply, and provide information about the Picture Perfect Service (the "Service"), outlined below. When you create an Picture Perfect account or use Picture Perfect, you agree to these terms. The Facebook Terms of Service do not apply to this Service.
</P>

<p>The Picture Perfect Service is one of the Facebook Products, provided to you by Facebook, Inc. These Terms of Use therefore constitute an agreement between you and Facebook, Inc.
</p>

<p>ARBITRATION NOTICE: YOU AGREE THAT DISPUTES BETWEEN YOU AND US WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU WAIVE YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION LAWSUIT OR CLASS-WIDE ARBITRATION. WE EXPLAIN SOME EXCEPTIONS AND HOW YOU CAN OPT OUT OF ARBITRATION BELOW.</p>

<h3>Picture Perfect Service</h3>

<p>We agree to provide you with the Picture Perfect Service. The Service includes all of the Picture Perfect products, features, applications, services, technologies, and software that we provide to advance Picture Perfect's mission: To bring you closer to the people and things you love. The Service is made up of the following aspects:</p>
<ul>
    <li>Offering personalized opportunities to create, connect, communicate, discover, and share.
        People are different. We want to strengthen your relationships through shared experiences you actually care about. So we build systems that try to understand who and what you and others care about, and use that information to help you create, find, join, and share in experiences that matter to you. Part of that is highlighting content, features, offers, and accounts you might be interested in, and offering ways for you to experience Picture Perfect, based on things you and others do on and off Picture Perfect.</li>
    <li>Fostering a positive, inclusive, and safe environment.
        We develop and use tools and offer resources to our community members that help to make their experiences positive and inclusive, including when we think they might need help. We also have teams and systems that work to combat abuse and violations of our Terms and policies, as well as harmful and deceptive behavior. We use all the information we have-including your information-to try to keep our platform secure. We also may share information about misuse or harmful content with other Facebook Companies or law enforcement. Learn more in the Data Policy.</li>
    <li>Developing and using technologies that help us consistently serve our growing community.
        Organizing and analyzing information for our growing community is central to our Service. A big part of our Service is creating and using cutting-edge technologies that help us personalize, protect, and improve our Service on an incredibly large scale for a broad global community. Technologies like artificial intelligence and machine learning give us the power to apply complex processes across our Service. Automated technologies also help us ensure the functionality and integrity of our Service.</li>
 0   <li>Providing consistent and seamless experiences across other Facebook Company Products.</li>
    Picture Perfect is part of the Facebook Companies, which share technology, systems, insights, and information-including the information we have about you (learn more in the Data Policy) in order to provide services that are better, safer, and more secure. We also provide ways to interact across the Facebook Company Products that you use, and designed systems to achieve a seamless and consistent experience across the Facebook Company Products.></>
    <li>Ensuring access to our Service.
        To operate our global Service, we must store and transfer data across our systems around the world, including outside of your country of residence. The use of this global infrastructure is necessary and essential to provide our Service. This infrastructure may be owned or operated by Facebook Inc., Facebook Ireland Limited, or their affiliates.</li>
    <li>Connecting you with brands, products, and services in ways you care about.
        We use data from Picture Perfect and other Facebook Company Products, as well as from third-party partners, to show you ads, offers, and other sponsored content that we believe will be meaningful to you. And we try to make that content as relevant as all your other experiences on Picture Perfect.</li>
    <li>Research and innovation.
        We use the information we have to study our Service and collaborate with others on research to make our Service better and contribute to the well-being of our community.</li>


    
</ul>

<style>
   
    .justify-center{
      background-color: blue;
      margin-left: 270px;
      padding-left: 15px;
      font-family: Parchment;
      color: white;
      /* padding-bottom: 5px; */
      font-size: 42px;
      font-weight: 600
    }
    .box{
      box-shadow: 1px 1px 1px 1px lightgray;

      text-align: center;
      font-size: 32px;
      font-family: script mt;
      position: absolute;
      margin-top: -55px;
      margin-left: 335px;
      height: 47Px;
      width: 250px;
      background-color: white;
    }
    center{
      background-color: white;       
      width: 300px;
      height: 300px;
      border: 5px 5px 5px 5px red;
      padding: 30px 20px 20px 20px;
      text-align: left;
      margin-left: 50%;
      box-shadow: 5px 5px 5px #999;
    }
    .login{
      margin-left: 100px;
    }
    .agent{
      margin-left: 200px;
    }
  </style>