<center>
  <form class="marg" method="post" enctype="multipart/form-data">
    <h3>Upload a Photo</h3>
    {% csrf_token %} {{ post_form.as_p }} {{image_form.as_p}}
    <button type="submit">Upload</button>
    <!-- <input style='margin-left:110px' type = "submit", value"Submit"><br><br>   -->
  </form>

  <!-- {% if image %}
    <h3>Succesfully uploaded : {{image.title}}</h3>
    <div class = 'photo'>
    <img src="{{ image.image.url}}" alt="connect" style="max-height:100px">
    </div>
    {%else%}
    <h3>Sorry There was a problem Try Again.</h3>
  {% endif %} -->
</center>
